<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Soutěžní workshop</h2>
      <p>Město Tábor připravuje urbanistickou soutěž na novou obytnou čtvrť na území bývalých kasáren Jana Žižky. Tato lokalita je svou polohou a rozsahem unikátní pro rozvoj města, proto jsou na její budoucí podobu kladeny patřičné nároky a důležitost. Účelem a posláním soutěže je nalézt a ocenit nejvhodnější urbanistické řešení, které splní široké požadavky města na bydlení, služby a občanskou vybavenost, to vše s ohledem na udržitelný rozvoj a současné trendy v revitalizaci brownfields. Výsledkem bude navazující územní studie, která městu umožní realizovat postupný rozvoj čtvrti a zajistí jednotný a koordinovaný způsob budoucí zástavby.
      </p>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <h3>
          Termíny soutěže
        </h3>
        <ul>
          <li><i class="ri-check-double-line"></i> Předpokládané vyhlášení soutěže: 16.10.2020</li>
          <li><i class="ri-check-double-line"></i> Termín podání žádostí o účast: 13.11.2020</li>
          <li><i class="ri-check-double-line"></i> 1. jednání soutěžního workshopu - prohlídka řešeného území: nejdříve 7.12.2020</li>
          <li><i class="ri-check-double-line"></i> 2. jednání soutěžního workshopu - představení a projednání KONCEPTU rozvoje řešeného území: nejdříve 3.2.2021</li>
          <li><i class="ri-check-double-line"></i> 3. jednání soutěžního workshopu - představení a projednání URBANISTICKÉ STUDIE řešeného území a konečné rozhodnutí poroty: nejdříve 24.3.2021</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Oznámení o výběru nejvhodnějšího návrhu
          Rozhodnutí Rady města o výběru návrhu proběhne do 90 dnů od konečného stanoviska poroty.
          <br />
          <br />
          Veřejná výstava soutěžních návrhů bude zahájena nejpozději do tří měsíců od rozhodnutí Rady města.
        </p>
        <a href="#faq" class="btn-learn-more">FAQ ...</a>
        <a href="#proArchitekty" class="btn-learn-more">Více o soutěži ...</a>
        <a href="#team" class="btn-learn-more">Porotci ...</a>
      </div>
    </div>

  </div>
</section><!-- End About Section -->
