<!-- ======= About Video Section ======= -->
<section id="about-video" class="about-video">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
        <img src="assets/img/about-video.jpg" class="img-fluid" alt="">
        <a href="https://youtu.be/AixJmyI4iBs" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>

      <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
        <h3>Území bývalých kasáren Jana Žižky</h3>
        <p class="font-italic">
          Lokalita prošla vývojem od roku 2006, kdy město Tábor získalo plochu bývalých kasáren Jana Žižky bezúplatným převodem. Mezi roky 2008-2015 měla území ve správě developerská společnost, vzešlá z výběrového řízení, která na místě provedla velkou část demoličních prací a zrekonstruovala bytový dům. Následně území převzalo zpět město Tábor a postupně připravuje jeho rozvoj za předpokladu investování veřejných prostranství a infrastruktury. V roce 2020 byly provedeny zbývající demolice, plocha byla upravena a částečně zpřístupněna veřejnosti. Nyní lze projít z parku u popraviště novou pěší cestou na Náchodské sídliště a v místě je dočasně umístěn i výběh pro psy.
        </p>

        <!-- <ul>
          <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
          <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          <li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
          <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
        </ul>
        <p>
          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p> -->
      </div>

    </div>

  </div>
</section><!-- End About Video Section -->
