<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>O projektu</h2>
      <p>Město Tábor vyhlašuje urbanistickou soutěž na novou obytnou čtvrť na území bývalých kasáren Jana Žižky. Tato lokalita je svou polohou a rozsahem unikátní pro rozvoj města, proto jsou na její budoucí podobu kladeny patřičné nároky a důležitost. Účelem a posláním soutěže je nalézt a ocenit nejvhodnější urbanistické řešení, které splní široké požadavky města na bydlení, služby a občanskou vybavenost, to vše s ohledem na udržitelný rozvoj a současné trendy v revitalizaci brownfields. Výsledkem bude navazující územní studie, která městu umožní realizovat postupný rozvoj čtvrti a zajistí jednotný a koordinovaný způsob budoucí zástavby.
      </p>
<hr />
      <p><cite>
       
      </cite></p>
    </div>

  </div>
</section><!-- End About Section -->
