<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container" data-aos="zoom-in">
    <div class="text-center">
      <h3>Setkání s veřejností</h3>
      <p>Milí spoluobčané,
chtěli bychom Vás pozvat na setkání u kulatých stolů, které si klade za cíl Vás seznámit s připravovanou soutěží na lokalitu Dvorce v Táboře a zjistit, jak si Vy osobně představujete řešené území a jeho okolí. Kde vidíte hodnoty, problémy či potenciály a kam si je přejete směřovat. Budeme také rádi za Vaše další nápady, myšlenky či vize, které mohou vést ke zlepšení Vašich oblíbených míst. Přínosné náměty budou převedeny do podkladů pro soutěžní zadání. Přijďte si poslechnout, co se chystá, a říci nám Váš názor.
Děkujeme za Váš čas a Vaši spolupráci.

<b>23. 9. 2020 od 18 hodin, sál Milenia</b>
</p>
      <a class="cta-btn" href="https://www.facebook.com/events/754567595364372">
        Událost na Facebooku
      </a>
    </div>
  </div>
</section><!-- End Cta Section -->
