<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Kontakt</h2>
      <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 270px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2433.1294552299382!2d14.652497315570823!3d49.421421979346654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDnCsDI1JzE3LjEiTiAxNMKwMzknMTYuOSJF!5e1!3m2!1scs!2scz!4v1599214484579!5m2!1scs!2scz" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="row mt-5 team">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/kontakt/icierna.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Ing. arch. Iveta Čierna</h4>
            <span>organizátor a sekretář soutěže, iveta@cierna.cz, tel. 723 921 119</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/kontakt/lkadrmanova.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Ing. arch. Lucie Kadrmanová Chytilová</h4>
            <span>City Upgrade s.r.o., spoluorganizátor a přezkušovatel návrhů, lucie@cityupgrade.cz, tel. 739 415 901</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/kontakt/aprokesova.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Ing. arch. Anita Prokešová</h4>
            <span>zástupce spoluorganizátora, anita@cityupgrade.cz</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
