<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Otázky a odpovědi</h2>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse"
            class="collapse" href="#faq-list-1">
            Proč je výhodné postupovat formou soutěže? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse" data-parent=".faq-list">
            <div>
            <ul>
              <li>Město získává více konkrétních urbanistických návrhů,
                ze kterých může vybírat ten nejoptimálnější.</li>
              <li>Výběr návrhu provádí spolu s městem odborná porota,
                jejíž činnost je zákonem podrobně upravena tak,
                aby rozhodování bylo transparentní, nepodjaté a nestranné,
                avšak aby současně poskytovala městu nejvyšší možný odborný servis.</li>
              <li>Kvalitně zpracovanými soutěžními podmínkami lze dosáhnout
                vyváženosti všech požadavků na záměr, nejde tedy jen o design či cenu,
                ale např. o řešení modrozelené infrastruktury, etapizace,
                zapracování požadavků veřejnosti a odborníků a podobně.</li>
              <li>Soutěžní workshop umožňuje zadat následné projekční práce jednodušeji
                a rychleji na již konkrétní návrh, zároveň však stále zůstává kontrola
                nad cenou projekčních prací.</li>
              <li>Každý významnější záměr je zpravidla sledován médii a veřejností.
                Uspořádání soutěže vyloučí možné spekulace o zaujatosti a korupci.</li>
              <li>Uspořádání soutěže vede vyhlašovatele k podstatně hlubšímu zamyšlení nad záměrem,
                než kdyby od počátku přenesl odpovědnost na konkrétního projektanta.</li>
              <li>Soutěž nabízí rovnou příležitost všem účastníkům a přináší tak možnost
                získání neotřelých a originálních řešení. Je to způsob důvěryhodný
                i pro samotné soutěžící.</li>

            </ul>
            </div>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse"
          href="#faq-list-2" class="collapsed">
            Kdy budou známy výsledky soutěže? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-parent=".faq-list">
            <p>
              Soutěžní workshop bude ukončen na konci března 2020 a následně po vyhlášení výsledků budou oceněné návrhy uvedeny na veřejné výstavě.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse"
            href="#faq-list-3" class="collapsed">
            Jak se mohu jako občan zapojit do navrhování? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-parent=".faq-list">
            <p>
              Podněty občanů budou sbírány na veřejném setkání k připravované soutěži, které se uskuteční 23.9.2020 v 18 hod v sále Milenia. Závěry a získané podněty od občanů budou předány soutěžním týmům, aby je mohli zohlednit ve svých návrzích.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse"
            href="#faq-list-4" class="collapsed">
              Jak bude probíhat výstavba nové čtvrti? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-parent=".faq-list">
            <p>

              Město Tábor bude koordinátorem celé výstavby,
              po etapách připraví zainvestování dopravní a technické infrastruktury
              a připraví model prodeje pozemků. Soukromí developeři či větší stavebníci
              budou moci získat pozemek k výstavbě, společně s definovanými pravidly pro zástavbu,
              co se týče umístění, výšky a objemu stavby. Celá výstavba bude dlouhodobou záležitostí,
              přesná etapizace bude známa až s výsledky soutěže.

            </p>contact
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse"
          href="#faq-list-5" class="collapsed">
            Kde se jako občan mohu seznámit s výsledky jednotlivých jednání? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <p>
              Zápisy z jednotlivých jednání soutěžního workshopu budou zveřejněny na těchto webových stránkách, po skončení soutěže zde budou dostupné i kompletní grafické výstupy oceněných návrhů.
            </p>
          </div>
        </li>


      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
