<!-- ======= Team Section ======= -->
<section id="odbornici" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Odborníci poroty</h2>
      <!-- <p></p> -->
    </div>

    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/ctibor.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Tomáš Ctibor</h4>
            <span>odborník v oblasti městského developmentu</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/hora.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>David Hora, DiS</h4>
            <span>odborník v oblasti modrozelené infrastruktury</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/sturma.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Mgr. Jan Albert Šturma</h4>
            <span>geobotanik, odborník v oblasti městských brownfield</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/fiser.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Ing. Jiří Fišer</h4>
            <span>projektant a vodohospodář, bývalý starosta města Tábor</span>
          </div>
        </div>
      </div>
<!--
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/burgerova.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Ing. Bc. Jana Daňková, Ph.D.</h4>
            <span>vedoucí odboru životního prostředí, krajinářská architektka</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/burgerova.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Mgr. Jan Pávek, LL.M.</h4>
            <span>vedoucí odboru dopravy</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/burgerova.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Ing. Vlastimil Křemen</h4>
            <span>vedoucí odboru rozvoje</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/burgerova.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>JUDr. Dana Švecová</h4>
            <span>vedoucí odboru správy majetku města</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/burgerova.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Ing. arch. Miloš Roháček</h4>
            <span>městský architekt</span>
          </div>
        </div>
      </div> -->

    </div>
  </div>
</section><!-- End Team Section -->
