<!-- ======= Frequently Asked Questions Section ======= -->
<section id="proArchitekty" class="faq section-bg">
  <div class="container" data-aos="fade-up">


    <div class="section-title">
      <h2>Informace pro architekty</h2>
      <p>Veškeré informace, oficiální dokumenty a podklady soutěže jsou zveřejněny na
        <a href="https://sluzby.e-zakazky.cz/profil-zadavatele/980f29ec-5398-44b7-bbb5-f2d6a600699c">
          profilu zadavatele města Tábor
        </a>.
        Prostřednictvím profilu zadavatele budou podávány žádosti o účast v soutěži,
        zodpovídány dotazy a odevzdávány soutěžní návrhy.
      </p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">
            Podání žádostí o účast <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
            <p>
              Podat žádost o účast mohou týmy v čele s autorizovaným architektem.
              Výběr z podaných žádostí provede porota soutěže a na základě předložených portfolií vybere 3 účastníky, které vyhlašovatel - město Tábor, vyzve k účasti na workshopu.

              Následných jednání soutěžního workshopu se budou účastnit pouze 3 vybraní účastníci.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">
            1. jednání soutěžního workshopu <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-parent=".faq-list">
            <p>

              Cílem prvního jednání soutěžního workshopu je zpravit vybrané účastníky
              soutěže o jednotlivých aspektech řešeného území.

              V návazné diskusi mezi jednotlivými účastníky, porotou, aktéry území,
              zástupci města a přizvanými odborníky pak bude možné na základě
              prezentovaných informací zpřesnit zadání pro soutěžní workshop.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">
            2. jednání soutěžního workshopu <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-parent=".faq-list">
            <p>
              Každý ze 3 účastníků představí svůj Koncept rozvoje řešeného území formou
               prezentace. Koncept stanoví komplexní, ekonomicky proveditelnou a trvale
               udržitelnou vizi rozvoje areálu Dvorce a vezme v úvahu základní trendy v rozvoji města a klíčové požadavky uvedené v zadávacích podmínkách.
              Součástí jednání bude také diskuze s porotou a přizvanými odborníky,
              případně také zástupci veřejnosti a budoucích investorů.
              Smyslem jednání je ze strany zadavatele seznámení se z možnými směry řešení
              a možnost jejich usměrnění a doplnění. Smyslem jednání ze strany účastníků
              je získání zpětné vazby, tak aby mohl být návrh směřován v dalším jednání
              požadovaným směrem.
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">
            3. jednání soutěžního workshop <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-parent=".faq-list">
            <p>

              Všichni účastníci představí svou Urbanistickou studii formou prezentace
              a tištěných výkresů na výstavních panelech.
              Studie zapracuje nápady a připomínky z druhého jednání a rozvine principy dané
              v konceptu rozvoje území. Urbanistická studie navrhne optimální prostorové
              uspořádání a objemové řešení území; navrhne ekonomicky proveditelný a funkční
              mix využití řešeného území s vhodným způsobem rozmístění a kombinací jednotlivých způsobů využití; navrhne hierarchii a tvarosloví veřejných prostranství vytvářející novou uliční síť pro zajištění prostupnosti řešeného území a zajištění přístupnosti a dopravní obslužnosti nově navrhnuté zástavby včetně dopravy v klidu; navrhne etapizaci postupného investování území; představí koncept regulativů zástavby, které budou uplatňovány při následném rozvoji území; navrhne řešení zeleně ve veřejném prostoru a koncept hospodaření s dešťovou vodou a navrhne základní principy a schéma uspořádání technické infrastruktury v území.
              Součástí jednání bude také diskuze s porotou a přizvanými odborníky,
              případně také zástupci veřejnosti a budoucích investorů.
              Výběr nejvhodnějšího návrhu a pořadí předložených návrhů provede porota. Hlasování o pořadí předložených návrhů proběhne po veřejné prezentaci na uzavřeném jednání.



            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">
            ke stažení: budou doplněny finální verze dokumentů před vyhlášením soutěže <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-5" class="collapse" data-parent=".faq-list">
            <ul>
              <li>Soutěžní podmínky</li>
              <li>Zadávací podmínky</li>
              <li>Historie a současný stav území</li>
              <li>Řešené území</li>
            </ul>
          </div>
        </li>

      </ul>
    </div>

  </div>
</section><!-- End Frequently Asked Questions Section -->
