

<div class="row">

  <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
    <div class="member">
      <div class="member-img">
        <img src="assets/img/team/pavlik.jpg" class="img-fluid" alt="">
      </div>
      <div class="member-info">
        <h4>Ing. Štěpán Pavlík</h4>
        <span>závislý člen poroty, starosta města</span>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
    <div class="member">
      <div class="member-img">
        <img src="assets/img/team/klecanda.jpg" class="img-fluid" alt="">
      </div>
      <div class="member-info">
        <h4>Mgr. Václav Klecanda</h4>
        <span>závislý člen poroty, místostarosta města</span>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
    <div class="member">
      <div class="member-img">
        <img src="assets/img/team/petrova.jpg" class="img-fluid" alt="">
      </div>
      <div class="member-info">
        <h4>Ing. Michaela Petrová</h4>
        <span>náhradník poroty, místostarostka města</span>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
    <div class="member">
      <div class="member-img">
        <img src="assets/img/team/bastlova.jpg" class="img-fluid" alt="">
      </div>
      <div class="member-info">
        <h4>Ing. Olga Bastlová</h4>
        <span>náhradník poroty, místostarostka města</span>
      </div>
    </div>
  </div>

</div>
